RAG_Chatbot_That_Reads_Books___Gives_Advice.json
{
  "name": "RAG Chatbot That Reads Books & Gives Advice",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1HMyNMwrVb1kXPP-P3_Dtf2vcjy-1N0Rd",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HMyNMwrVb1kXPP-P3_Dtf2vcjy-1N0Rd"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "39ccbc58-5326-4057-ac08-441848119f75",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7r3KL5a2Y82rDSbT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "0c6bbbec-5e91-497d-9de7-da370495da49",
      "name": "Download Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7r3KL5a2Y82rDSbT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "Atomic Habbit"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "4f1788e9-7f26-4a4e-a7c2-2ca617e4f37b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "RSEM18dcm4e67vJw",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        200
      ],
      "id": "cb69b214-4754-4867-8567-d34abe96e0aa",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NfZIqYAfsUo47ABj",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        580,
        220
      ],
      "id": "2dd685fc-2085-4647-ac6f-bb61d5d23a9a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        680,
        440
      ],
      "id": "704d81ea-11f3-47ff-9fe1-d6d0a9a57b9e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        960,
        0
      ],
      "id": "5ca6398e-649c-4e77-a37a-cc4bd3f941f8",
      "name": "When chat message received",
      "webhookId": "aedf58b8-bc60-48e9-b6a2-dd2bfb8368a6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1180,
        0
      ],
      "id": "db11e858-f21d-471c-990e-9e5235683e4b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1220,
        220
      ],
      "id": "f4d011d7-bbcc-459a-874e-87bfbc3184fd",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "nS2mOe1p7IbEwXxG",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "KnowledgeBase",
        "toolDescription": "Call this when require the data embedding",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "Atomic Habbit"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1540,
        0
      ],
      "id": "3cf8a6d7-a776-4ab2-a74c-04e09ec79abc",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "RSEM18dcm4e67vJw",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1640,
        220
      ],
      "id": "e0b59bed-8634-48db-af86-74b1a792d195",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "NfZIqYAfsUo47ABj",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Files": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eef4d75c-cf6b-4f75-89f3-07d2485eadc3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd16bfc3e40096278853b37749fccab59b66c78a46be7f86719cdab089359717"
  },
  "id": "bxrgE77mDIZIMhJ4",
  "tags": []
}